* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* reuseable class */
.btn {
  border: none;
  background-color: #1d4ed8;
  padding: 8px 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #fff;
  border-radius: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
}
.nav-left img {
  width: 80%;
}
.nav-center ul {
  display: flex;
  gap: 30px;
}
.nav-center ul li {
  list-style: none;
}
.nav-center ul li a {
  text-decoration: none;
  color: #575757;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}
/* navbar style end hare */
/* banner section code start hare */
.banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/banner.jpg);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  color: #fff;
  text-align: center;
}
.banner-content-top {
  margin-bottom: 15%;
}
.banner-content-top h1 {
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.banner-content-top p {
  font-size: 16px;
  margin: 10px 0px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}
/* speakers section styles start hare */
.speakers-contaier {
  padding: 0px 10%;
  margin-bottom: 50px;
}
.speakers-contaier h2 {
  margin: 50px 0px;
  font-family: "Inter", sans-serif;
  font-size: 55px;
  text-align: center;
  font-weight: bold;
}
article img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
article {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.category {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #2563eb;
  line-height: 18px;
}
.card {
  border: 1px solid red;
  border-radius: 10px;
}
.card-content {
  padding: 20px;
}
.speakers-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.speaker-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: #0d1b2a;
}
.speaker-title {
  line-height: 21px;
  font-family: "Inter", sans-serif;
  color: #575757;
  font-weight: 300;
}
/* speakers section styles end harr*/
/* pricing section styles start hare*/
.price-container {
  padding: 20px 20%;
}
.price-content {
  text-align: center;
}
.price-content h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  font-family: "Inter", sans-serif;
}
.price-content p {
  color: #575757;
  font-weight: 300;
  line-height: 25px;
}
.price-card {
  padding: 30px;
  margin-top: 30px;
}
.price-card h6 {
  font-size: 13px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #888888;
  line-height: 20px;
}
.price-card h2 {
  color: #0d1b2a;
  font-size: 48px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: 45px;
  margin: 5px 0px;
}
.price-card p {
  color: #888888;
  font-size: 13px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: 20px;
}
.price-card hr {
  width: 65%;
  margin: 10px 0px;
}
.price-card ul li {
  color: #333333;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 22px;
}
.price-card ul li::marker {
  color: #2563eb;
}
.price-btn-standerd {
  margin: 20px 0px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #2563eb;
  color: #2563eb;
}
.pro-btn {
  width: 100%;
  margin-top: 40px;
}
.price-card-contaier {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.price-btn-team {
  width: 100%;
  margin-top: 40px;
}
.pro {
  background-color: #0d1b2a;
}
.pro h6 {
  color: #fff;
}
.pro h2 {
  color: #fff;
}
.pro p {
  color: #aeaaaa;
}
.pro ul li {
  color: #aeaaaa;
}
.team {
  background-color: #f8f9fb;
}
/* pricing section styles end hare*/

/* call to action styles start hare */
.call-to-action {
  background-image:
    linear-gradient(rgba(13, 27, 42, 0.8), rgba(13, 27, 42, 0.8)),
    url("../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px 0px;
}
.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  color: #fff;
}
.call-to-action-content h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;

  color: #b2b4b6;
}
.call-to-action p {
  font-weight: 300;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  margin: 15px 0px;
}
.call-to-action-btn {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin: 30px 0px;
}
.btn-reg {
  background-color: #1d4ed8;
  padding: 15px 50px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
.btn-sche {
  background-color: transparent;
  padding: 15px 50px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #1d4ed8;
}
/* call to action styles end hare */
.footer-container{
    background-color: #0D1B2A;
    padding: 20px 10%;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-right {
    display: flex;
    gap: 30px;
    color: #fff;
}
.divide {
    border:none;
    height: 1px;
    background-color: #414142;
    width: 100%;
    margin: 15px auto;
}
.privacy-policy-content {
    display: flex;
    justify-content: space-between;
}
.privacy-policy-right {
    display: flex;
    gap: 20px;
}
.privacy-policy-left, .privacy-policy-right{
    color: rgb(181, 175, 175);
    font-weight: 300;
    font-family: "Inter", sans-serif;
}